# Great Britain Road Accidents 2015-2019 EDA

**1. Importing the required libraries for EDA**

Below are the libraries that are used in order to perform EDA (Exploratory data analysis) in this Project.

In [262]:
import pandas as pd
import numpy as np

**2. Loading the data into the data frame**


Loading the data into the pandas data frame is certainly one of the most important steps in EDA.

In [241]:
df = pd.read_csv(r'C:\Cardiff University\CMT218 Data Visualisation\Assessment and Feedback\CW2\Project_Live\Great Britain Road Accidents 2015-2019.csv')
# To display the top 5 rows 
df.head(5)

,Accident year,Country,Ons code,Urban rural,Speed limit,Weather condition,Road surface,All accidents
0,2015,England,E92000001,Urban,NaN,Fine no high winds,Dry,1
1,2015,England,E92000001,Urban,1-20 mph,NaN,Dry,77
2,2015,England,E92000001,Urban,1-20 mph,NaN,Wet or damp,16
3,2015,England,E92000001,Urban,1-20 mph,NaN,Frost or ice,1
4,2015,England,E92000001,Urban,1-20 mph,Fine no high winds,NaN,1

In [242]:
df.tail(5)                        # To display the botton 5 rows

,Accident year,Country,Ons code,Urban rural,Speed limit,Weather condition,Road surface,All accidents
3788,2019,Scotland,S92000003,Rural,Motorway,Snowing no high winds,Frost or ice,1
3789,2019,Scotland,S92000003,Rural,Motorway,Fine + high winds,Wet or damp,1
3790,2019,Scotland,S92000003,Rural,Motorway,Raining + high winds,Wet or damp,3
3791,2019,Scotland,S92000003,Rural,Motorway,Snowing + high winds,Snow,1
3792,2019,Scotland,S92000003,Rural,Motorway,Fog or mist,Wet or damp,1

**3. Checking the types of data**

Here we check for the datatypes because sometimes the Accidents or Years of the dataset would be stored as a string, if in that case, we have to convert that string to the integer data only then we can plot the data via a graph. Here, in this case, the data is already in integer format so nothing to worry.

In [243]:
df.dtypes

Accident year         int64
Country              object
Ons code             object
Urban rural          object
Speed limit          object
Weather condition    object
Road surface         object
All accidents         int64
dtype: object

**4. Dropping irrelevant columns**

This step is certainly needed in every EDA because sometimes there would be many columns that we never use in such cases dropping is the only solution. In this case, the columns such as 'Ons code' doesn't make any sense to me so I just dropped for this instance.

In [244]:
df = df.drop(['Ons code'], axis=1)
df.head(5)

,Accident year,Country,Urban rural,Speed limit,Weather condition,Road surface,All accidents
0,2015,England,Urban,NaN,Fine no high winds,Dry,1
1,2015,England,Urban,1-20 mph,NaN,Dry,77
2,2015,England,Urban,1-20 mph,NaN,Wet or damp,16
3,2015,England,Urban,1-20 mph,NaN,Frost or ice,1
4,2015,England,Urban,1-20 mph,Fine no high winds,NaN,1

**5. Renaming the columns**

In this instance, most of the column names are very confusing to read, so I just tweaked their column names. This is a good approach it improves the readability of the data set.

In [245]:
df = df.rename(columns={"Accident year": "Accident_year", "Urban rural": "Urban/Rural", "Speed limit": "Speed_limit", "Weather condition": "Weather_condition", "Road surface": "Road_surface", "All accidents": "All_Accidents"})
df.head(5)

,Accident_year,Country,Urban/Rural,Speed_limit,Weather_condition,Road_surface,All_Accidents
0,2015,England,Urban,NaN,Fine no high winds,Dry,1
1,2015,England,Urban,1-20 mph,NaN,Dry,77
2,2015,England,Urban,1-20 mph,NaN,Wet or damp,16
3,2015,England,Urban,1-20 mph,NaN,Frost or ice,1
4,2015,England,Urban,1-20 mph,Fine no high winds,NaN,1

In [246]:
df.head(10)

,Accident_year,Country,Urban/Rural,Speed_limit,Weather_condition,Road_surface,All_Accidents
0,2015,England,Urban,NaN,Fine no high winds,Dry,1
1,2015,England,Urban,1-20 mph,NaN,Dry,77
2,2015,England,Urban,1-20 mph,NaN,Wet or damp,16
3,2015,England,Urban,1-20 mph,NaN,Frost or ice,1
4,2015,England,Urban,1-20 mph,Fine no high winds,NaN,1
5,2015,England,Urban,1-20 mph,Fine no high winds,Dry,2889
6,2015,England,Urban,1-20 mph,Fine no high winds,Wet or damp,323
7,2015,England,Urban,1-20 mph,Fine no high winds,Snow,1
8,2015,England,Urban,1-20 mph,Fine no high winds,Frost or ice,9
9,2015,England,Urban,1-20 mph,Raining no high winds,Dry,2

**6. Dropping the duplicate rows**

This is often a handy thing to do because a huge data set as in this case contains more than 10, 000 rows often have some duplicate data which might be disturbing, so here I remove all the duplicate value from the data-set. For **example** prior to removing I had 16599 rows of data but after removing the duplicates 10925 data meaning that I had 989 of duplicate data.

In [247]:
df.shape

(3793, 7)

In [248]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 7)

In my data set, I did not find any duplicate entries.

**7. Dropping the missing or null values**

This is mostly similar to the previous step but in here all the missing values are detected and are dropped later. Now, this is not a good approach to do so, because many people just replace the missing values with the mean or the average of that column, but in this case, I just dropped that missing values.

In [249]:
df.count()

Accident_year        3793
Country              3793
Urban/Rural          3792
Speed_limit          3781
Weather_condition    3350
Road_surface         3570
All_Accidents        3793
dtype: int64

In [250]:
print(df.isnull().sum())

Accident_year          0
Country                0
Urban/Rural            1
Speed_limit           12
Weather_condition    443
Road_surface         223
All_Accidents          0
dtype: int64

**8.Dropping the rows**

In [257]:
def drop_cols_na(df, threshold=0.5): # Don't drop the rows.If the NaN represents more than 50% of the Column.
  threshold = len(df.index) * threshold
  cols=[c for c in df.columns if sum(df[c].isnull()) >= threshold]
  df.drop(cols,axis=0,errors='ignore', inplace = True)

In [258]:
drop_cols_na(df)

In [259]:
df.count()

Accident_year        3793
Country              3793
Urban/Rural          3792
Speed_limit          3781
Weather_condition    3350
Road_surface         3570
All_Accidents        3793
dtype: int64

In [260]:
print(df.isnull().sum())   # After dropping the values

Accident_year          0
Country                0
Urban/Rural            1
Speed_limit           12
Weather_condition    443
Road_surface         223
All_Accidents          0
dtype: int64

**9.Export Pandas DataFrame to a CSV File**

In [256]:
df.to_csv(r'C:\Cardiff University\CMT218 Data Visualisation\Assessment and Feedback\CW2\Project_Live\Great Britain Road Accidents 2015-2019 Cleaned data_1.csv', index = False)